<!DOCTYPE html>
<html lang="en">

<<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="My Dissertation Planner adapted from wrappixel.com">
    <meta name="robots" content="noindex,nofollow">
    <title>Dissertation Planner adapted from WrapPixel</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg "
                    href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i
                        class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="dashboard.html"><i
                            class="glyphicon glyphicon-fire"></i>&nbsp;<span class="hidden-xs">My Dissertation</span></a></div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li><a href="javascript:void(0)" class="open-close hidden-xs hidden-lg waves-effect waves-light"><i
                                class="ti-arrow-circle-left ti-menu"></i></a></li>
                </ul>                
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <div class="navbar-default sidebar nicescroll" role="navigation">
            <div class="sidebar-nav navbar-collapse ">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="ti-search"></i> </button>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="dashboard.html" class="waves-effect"><i class="glyphicon glyphicon-fire fa-fw"></i>
                            Dashboard</a>
                    </li>
                    <li>
                        <a href="profile.html" class="waves-effect"><i class="ti-user fa-fw"></i>Profile</a>
                    </li>
                    <li>
                        <a href="project-planning.html" class="waves-effect"><i class="ti-files fa-fw"></i>Project Planning</a>
                    </li>
                    <li>
                        <a href="writing-the-dissertation.html" class="waves-effect"><i class="ti-files fa-fw"></i>Writing the Dissertation</a>
                    </li>
                    <li>
                        <a href="chat.html" class="waves-effect"><i class="ti-files fa-fw"></i>Chat</a>
                    </li>
                    <li>
                        <a href="feedback.html" class="waves-effect"><i class="ti-files fa-fw"></i>Feedback List</a>
                    </li> 
                </ul>
                <div class="center p-20">
                    <span class="hide-menu"><a href="sign-in.html" target="_blank"
                            class="btn btn-info btn-block btn-rounded waves-effect waves-light">Sign Out</a></span>
                </div>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-12">
                    <h4 class="page-title">Profile</h4>
                    <ol class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                        <li class="active">Profile</li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="white-box">
                        <div class="user-bg"> <img width="100%" alt="user" src="images/large/img1.jpg">
                            <div class="overlay-box">
                                <div class="user-content">
                                    <a href="javascript:void(0)"><img src="images/users/sonu.jpg"
                                            class="thumb-lg img-circle" alt="img"></a>
                                    <h4 class="text-white">Student</h4>
                                    <h5 class="text-white">student@warwick.ac.uk</h5>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    <label class="col-md-12">Student Name    : Student</label>
                    <label class="col-md-12">Email           : student@warwick.ac.uk</label>               
                    <label class="col-md-12">Student ID      : 1234567</label>  
                    <label class="col-md-12">Supervisor Name : Supervisor</label>   
                    <label class="col-md-12">Email           : supervisor@warwick.ac.uk</label> 
                    <label class="col-md-12">Supervisor ID   : 7654321</label>  
                 </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    <footer class="footer text-center"> 2022 &copy; My Dissertation Planner adapted from <a
        href="https://www.wrappixel.com/templates/myadmin-lite/">wrappixel.com</a> </footer>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!--Nice scroll JavaScript -->
    <script src="js/jquery.nicescroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/myadmin.js"></script>
</body>

</html>