<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="My Dissertation Planner adapted from wrappixel.com">
    <meta name="robots" content="noindex,nofollow">
    <title>Dissertation Planner adapted from WrapPixel</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="../static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/chat.css" rel="stylesheet"
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg "
                    href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i
                        class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="/"><i
                            class="glyphicon glyphicon-fire"></i>&nbsp;<span class="hidden-xs">My Dissertation</span></a></div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li><a href="javascript:void(0)" class="open-close hidden-xs hidden-lg waves-effect waves-light"><i
                                class="ti-arrow-circle-left ti-menu"></i></a></li>
                </ul>                
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <div class="navbar-default sidebar nicescroll" role="navigation">
            <div class="sidebar-nav navbar-collapse ">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="ti-search"></i> </button>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a href="/" class="waves-effect"><i class="glyphicon glyphicon-fire fa-fw"></i>
                            Dashboard</a>
                    </li>
                    <li>
                        <a href="/profile" class="waves-effect"><i class="ti-user fa-fw"></i>Profile</a>
                    </li>
                    <li>
                        <a href="/project" class="waves-effect"><i class="ti-files fa-fw"></i>Project Planning</a>
                    </li>
                    <li>
                        <a href="/writing" class="waves-effect"><i class="ti-files fa-fw"></i>Writing the Dissertation</a>
                    </li>
                    <li>
                        <a href="/chat" class="waves-effect"><i class="ti-files fa-fw"></i>Chat</a>
                    </li>
                    <li>
                        <a href="/feedback" class="waves-effect"><i class="ti-files fa-fw"></i>Feedback List</a>
                    </li> 
                </ul>
                <div class="center p-20">
                    <span class="hide-menu"><a href="/signin" target="_blank"
                            class="btn btn-info btn-block btn-rounded waves-effect waves-light">Sign Out</a></span>
                </div>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-12">
                        <h4 class="page-title">Chat</h4>
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Chat</li>                            
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>                
                <!-- row -->
                <div class="mesgs">
                    <div class="msg_history">
                        <div class="outgoing_msg">
                        <div class="sent_msg">
                                          <p>I've already submit the Introduction & Literature Review Chapter, please I need for your suggestion</p>
                                          <span class="time_date"> 11:10 AM    |    June 9</span> </div>
                                      </div>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="../static/images/users/pawandeep.jpg"> </div>
                            <div class="received_msg">
                            <div class="received_withd_msg">
                                          <p>Please see my feedback!</p>
                                          <span class="time_date"> 1:30 AM    |  June 10</span></div>
                                           </div>
                                    </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                        <p>Mr. Supervisor, Can we meet?, I need a Discussion about the Research Methodelogy</p>
                                        <span class="time_date"> 9:08 AM    |    Today</span> </div>
                                      </div>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img src="../static/images/users/pawandeep.jpg"> </div>
                            <div class="received_msg">
                            <div class="received_withd_msg">
                                            <p>Okay, Tommorow morning, See u 9.45 am @ MEC 200</p>
                                            <span class="time_date"> 10:08 AM    |    Yesterday</span></div>
                                            </div>
                                    </div>
                                    <div class="type_msg">
                                      <div class="input_msg_write">
                                        <input type="text" class="write_msg" placeholder="Type a message" />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>       
                    </div>
                </div>    
        <!-- /#page-wrapper -->
        <footer class="footer text-center"> 2022 &copy; My Dissertation Planner adapted from <a
            href="https://www.wrappixel.com/templates/myadmin-lite/">wrappixel.com </a> and chat-box feature adapted from <a href="https://bootsnipp.com/snippets/1ea0N"> bootsnipp.com</a> </footer>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../static/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!--Nice scroll JavaScript -->
    <script src="../static/js/jquery.nicescroll.js"></script>
    <!--Wave Effects -->
    <script src="../static/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../static/js/myadmin.js"></script>
</body>

</html>